<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<h:form id="menuForm" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">
    
    <p:menu id="menuCadastro" style="width: 178px">
        <p:submenu label="Cadastro">
            <p:menuitem value="Instrutor" url="cadastro_instrutor.xhtml" />
            <p:menuitem value="Aluno" url="cadastro_aluno.xhtml" rendered="#{not empty academiaBean.instrutorDAO.all}"/>
        </p:submenu>
    </p:menu>
    <p:menu style="width: 178px" rendered="#{not empty academiaBean.alunoDAO.all || not empty academiaBean.instrutorDAO.all}">
        <p:submenu label="Listagem" >
            <p:menuitem value="Instrutores" url="listagem_instrutores.xhtml" rendered="#{not empty academiaBean.instrutorDAO.all}"/>
            <p:menuitem value="Alunos" url="listagem_alunos.xhtml" rendered="#{not empty academiaBean.alunoDAO.all}"/>
        </p:submenu>
    </p:menu>
</h:form>
