<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <ui:insert name="head"/>
            </f:facet>
        </h:head>

        <h:body>
                <p:layout fullPage="true">
                    <p:layoutUnit position="north" size="40" resizable="false" closable="true" collapsible="true" >
                        <p:outputLabel value="Plataforma de Gerenciamento da Academia" />
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="200" header="Menu Principal" collapsible="true">
                        <ui:include src="menu.xhtml"/>
                    </p:layoutUnit>

                    <p:layoutUnit position="center">
                        <ui:insert name="center"/>
                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="45" closable="true" collapsible="true" >
                        @ 2014 Jonathan Nobre Ferreira
                    </p:layoutUnit>
                </p:layout>
        </h:body>
    </f:view>
</html>