<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml" >
    <ui:define name="head">
        <title>Cadastro de Instrutor</title>
    </ui:define>
    
    <ui:define name="center">
        <h:form id="formInstrutor" >
            <h:panelGrid id="gridInstrutor" columns="3" cellspacing="5" >
                <p:outputLabel value="Nome: " />
                <p:inputText id="nome" placeholder="Nome Completo" value="#{academiaBean.instrutor.nome}" maxlength="150" required="true" requiredMessage="Campo Obrigatório" validatorMessage="Nome inválido!" />
                <p:message for="nome"/>
                
                <p:outputLabel value="Matrícula: " />
                <p:inputText id="matricula" placeholder="Matrícula" value="#{academiaBean.instrutor.matricula}" maxlength="20" required="true" requiredMessage="Campo Obrigatório" validatorMessage="Matricula inválida!"/>
                <p:message for="matricula"/>
                
                <p:outputLabel value="Ano de Graduação: " />      
                <p:selectOneMenu value="#{academiaBean.instrutor.anoConclusao}" style="width: 80px" required="true" requiredMessage="Ano de Conclusāo Obrigatório:" > 
                    <f:selectItems value="#{academiaBean.anos}" />
                </p:selectOneMenu>
                
                <f:facet name="footer" >
                    <h:panelGroup style="display: block; text-align: left">
                        <p:commandButton action="#{academiaBean.cadastroInstrutor()}" value="Cadastrar" update="gridInstrutor,:menuForm:menuCadastro"/>
                    </h:panelGroup>
                </f:facet>
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>