<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml" >
    <ui:define name="head">
        <title>Cadastro de Aluno</title>
    </ui:define>

    <ui:define name="center">
        <h:form id="formAluno" >
            <h:panelGrid id="gridAluno" columns="3" cellspacing="5" >
                 <p:outputLabel value="Nome: " />
                 <p:inputText id="nomeAluno" placeholder="Nome Completo" value="#{academiaBean.aluno.nome}" maxlength="150" required="true" requiredMessage="Campo Obrigatório" validatorMessage="Nome inválido!" />
                 <p:message for="nomeAluno" />
                 
                 <p:outputLabel value="CPF: " />
                 <p:inputMask id="cpfAluno" value="#{academiaBean.aluno.cpf}" mask="999.999.999-99" required="true" requiredMessage="Campo Obrigatório" >
                     <f:validator validatorId="cpfValidator"/>
                 </p:inputMask>
                 <p:message for="cpfAluno" />
                 
                 <p:outputLabel value="Sexo: " />
                 <p:selectOneRadio id="sexoAluno" value="#{academiaBean.aluno.sexo}" required="true" requiredMessage="Campo Obrigatório" converter="sexoConverter" layout="grid" columns="1">
                     <f:selectItems value="#{academiaBean.sexoEnums}" var="sexo" itemLabel="#{sexo.sexo}" itemValue="#{sexo}" />
                 </p:selectOneRadio>
                 <p:message for="sexoAluno" />
                 
                 <p:outputLabel value="Instrutor: " />
                 <p:selectOneListbox id="instrutorAluno" value="#{academiaBean.aluno.instrutor}" style="width: 350px" scrollHeight="150" converter="instrutorConverter" filter="true" filterMatchMode="contains" required="true" requiredMessage="Obrigatório informar o Instrutor!" >
                     <f:selectItems value="#{academiaBean.instrutorDAO.all}" var="instrutor" itemLabel="#{instrutor.nome}" itemValue="#{instrutor}" />
                 </p:selectOneListbox>
                 <p:message for="instrutorAluno" />
                 
                 <p:outputLabel value="Altura " />
                 <p:inputText id="alturaAluno" placeholder="Altura" value="#{academiaBean.aluno.altura}" required="true" requiredMessage="Campo Obrigatório" validatorMessage="Altura inválida!" >
                     <f:validateDoubleRange minimum="0.5" maximum="5"/>
                 </p:inputText>
                 <p:message for="alturaAluno" />
                 
                 <p:outputLabel value="Peso " />
                 <p:inputText id="pesoAluno" placeholder="Peso" value="#{academiaBean.aluno.peso}" required="true" requiredMessage="Campo Obrigatório" validatorMessage="Peso inválido!">
                     <f:validator for="pesoAluno" validatorId="pesoValidator" />
                 </p:inputText>
                 <p:message for="pesoAluno" />
                 
                 <f:facet name="footer" >
                    <h:panelGroup style="display: block; text-align: left">
                        <p:commandButton action="#{academiaBean.cadastrarAluno()}" value="Cadastrar" update="gridAluno,:menuForm:menuCadastro" actionListener="#{academiaBean.validarCPF()}" styleClass="ui-priority-primary"/>
                        <p:commandButton immediate="true" action="listagem_alunos.xhtml" value="Listagem" />
                    </h:panelGroup>
                </f:facet>
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>
