<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml" >
    <ui:define name="head">
        <title>Listagem de Alunos</title>
    </ui:define>
    
    <ui:define name="center">
        <h:form id="formAluno" >
            <p:dataTable value="#{listagemAlunoBean.alunoLazy}" var="aluno" paginator="true" rows="10"
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15,20,25,30" selectionMode="single" selection="#{listagemAlunoBean.aluno}" id="alunoTable" lazy="true">
                <p:ajax event="rowSelect" update=":formAluno:alunoDetail" oncomplete="PF('alunoDialog').show()" />
                <p:column headerText="ID" width="5%">
                    <h:outputLabel value="#{aluno.id}" />
                </p:column>
                <p:column headerText="NOME" >
                    <h:outputLabel value="#{aluno.nome}" />
                </p:column>
                <p:column headerText="CPF" >
                    <h:outputLabel value="#{aluno.cpf}" />
                </p:column>
                <p:column headerText="SEXO" >
                    <h:outputLabel value="#{aluno.sexo.sexo}" />
                </p:column>
                <p:column headerText="INSTRUTOR" >
                    <h:outputLabel value="#{aluno.instrutor.nome}" />
                </p:column>
                <p:column headerText="PESO" >
                    <h:outputLabel value="#{aluno.peso}" />
                </p:column>
                <p:column headerText="ALTURA" >
                    <h:outputLabel value="#{aluno.altura}" />
                </p:column>
                <p:column headerText="AÇÃO" width="10%" >
                    <p:commandButton immediate="true" ajax="false" action="#{listagemAlunoBean.excluir(aluno)}" value="Excluir" update=":formAluno:alunoTable"/>
                </p:column>
            </p:dataTable>
            
            <p:dialog header="Atualizar Dados do Aluno" widgetVar="alunoDialog" showEffect="fade" hideEffect="fade" resizable="false" >
                <h:panelGrid id="alunoDetail" columns="3" cellspacing="5" >
                    <p:outputLabel value="Nome: " />
                    <p:inputText id="nomeAluno" placeholder="Nome Completo" value="#{listagemAlunoBean.aluno.nome}" maxlength="150" required="true" requiredMessage="Campo Obrigatório" validatorMessage="Nome inválido!" />
                    <p:message for="nomeAluno" />

                    <p:outputLabel value="CPF: " />
                    <p:inputMask id="cpfAluno" value="#{listagemAlunoBean.aluno.cpf}" mask="999.999.999-99" required="true" requiredMessage="Campo Obrigatório" />
                    <p:message for="cpfAluno" />

                    <p:outputLabel value="Sexo: " />
                    <p:selectOneRadio id="sexoAluno" value="#{listagemAlunoBean.aluno.sexo}" required="true" requiredMessage="Campo Obrigatório" converter="sexoConverter" layout="grid" columns="1">
                        <f:selectItems value="#{academiaBean.sexoEnums}" var="sexo" itemLabel="#{sexo.sexo}" itemValue="#{sexo}" />
                    </p:selectOneRadio>
                    <p:message for="sexoAluno" />

                    <p:outputLabel value="Instrutor: " />
                    <p:selectOneListbox id="instrutorAluno" value="#{listagemAlunoBean.aluno.instrutor}" style="width: 350px" scrollHeight="150" converter="instrutorConverter" filter="true" filterMatchMode="contains" required="true" requiredMessage="Obrigatório informar o Instrutor!" >
                        <f:selectItems value="#{academiaBean.instrutorDAO.all}" var="instrutor" itemLabel="#{instrutor.nome}" itemValue="#{instrutor}" />
                    </p:selectOneListbox>
                    <p:message for="instrutorAluno" />

                    <p:outputLabel value="Altura " />
                    <p:inputText id="alturaAluno" placeholder="Altura" value="#{listagemAlunoBean.aluno.altura}" required="true" requiredMessage="Campo Obrigatório" validatorMessage="Altura inválida!" >
                        <f:validateDoubleRange minimum="0.5" maximum="5"/>
                    </p:inputText>
                    <p:message for="alturaAluno" />

                    <p:outputLabel value="Peso " />
                    <p:inputText id="pesoAluno" placeholder="Peso" value="#{listagemAlunoBean.aluno.peso}" required="true" requiredMessage="Campo Obrigatório" validatorMessage="Peso inválido!">
                        <f:validator for="pesoAluno" validatorId="pesoValidator" />
                    </p:inputText>
                    <p:message for="pesoAluno" />

                    <f:facet name="footer" >
                       <h:panelGroup style="display: block; text-align: center">
                           <p:commandButton ajax="false" action="#{listagemAlunoBean.atualizar()}" value="Atualizar" />
                       </h:panelGroup>
                   </f:facet>
                </h:panelGrid>
            </p:dialog>
        </h:form>
    </ui:define>
</ui:composition>