<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml" >
    <ui:define name="head">
        <title>Listagem dos Instrutores</title>
    </ui:define>
    
    <ui:define name="center">
        <h:form id="formInstrutor" >
            <p:dataTable value="#{listagemInstrutorBean.instrutorLazy}" var="instrutor" paginator="true" rows="10"
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15,20,25,30" selectionMode="single" selection="#{listagemInstrutorBean.instrutor}" id="instrutorTable" lazy="true">
                <p:ajax event="rowSelect" update=":formInstrutor:instrutorDetail" oncomplete="PF('instrutorDialog').show()"/>
                <p:column headerText="ID" width="10%">
                    <h:outputText value="#{instrutor.id}"/>
                </p:column>
                <p:column headerText="NOME" >
                    <h:outputText value="#{instrutor.nome}"/>
                </p:column>
                <p:column headerText="MATRICULA" >
                    <h:outputText value="#{instrutor.matricula}"/>
                </p:column>
                <p:column headerText="ANO DE CONCLUSAO" width="20%">
                    <h:outputText value="#{instrutor.anoConclusao}"/>
                </p:column>
                <p:column headerText="AÇÃO" width="10%">
                    <p:commandButton immediate="true" ajax="false" action="#{listagemInstrutorBean.excluir(instrutor)}" value="Excluir" update=":formInstrutor:instrutorTable"/>
                </p:column>
            </p:dataTable>
            
            <p:dialog header="Atualizar Dados do Instrutor" widgetVar="instrutorDialog" showEffect="fade" hideEffect="fade" resizable="false">
                <h:panelGrid id="instrutorDetail" columns="3" cellpadding="5">
                    <p:outputLabel value="Nome: " />
                    <p:inputText id="nome" placeholder="Nome Completo" value="#{listagemInstrutorBean.instrutor.nome}" maxlength="150" required="true" requiredMessage="Campo Obrigatório" validatorMessage="Nome inválido!" />
                    <p:message for="nome"/>

                    <p:outputLabel value="Matrícula: " />
                    <p:inputText id="matricula" placeholder="Matrícula" value="#{listagemInstrutorBean.instrutor.matricula}" maxlength="20" required="true" requiredMessage="Campo Obrigatório" validatorMessage="Matricula inválida!"/>
                    <p:message for="matricula"/>

                    <p:outputLabel value="Ano de Graduação: " />      
                    <p:selectOneMenu value="#{listagemInstrutorBean.instrutor.anoConclusao}" style="width: 80px" required="true" requiredMessage="Ano de Conclusāo Obrigatório:" > 
                        <f:selectItems value="#{academiaBean.anos}" />
                    </p:selectOneMenu>
                    
                    <f:facet name="footer" >
                        <h:panelGroup style="display: block; text-align: center">
                            <p:commandButton ajax="false" action="#{listagemInstrutorBean.atualizar()}" value="Atualizar" />
                        </h:panelGroup>
                    </f:facet>
                </h:panelGrid>
            </p:dialog>
        </h:form>
    </ui:define>
</ui:composition>

